.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Properties */

@property --danger-darken-3 {
    syntax: "<color>";
    inherits: false;
    initial-value: #AD1457;
}

@property --danger-darken-4 {
    syntax: "<color>";
    inherits: false;
    initial-value: #880E4F;
}

@property --primary {
    syntax: "<color>";
    inherits: false;
    initial-value: #3F51B5;
}

@property --primary-lighten-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #7986CB;
}

@property --primary-lighten-4 {
    syntax: "<color>";
    inherits: false;
    initial-value: #C5CAE9;
}

@property --secondary-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #546E7A;
}

/* Colors */

.primary {
    background: #0277BD;
}

.secondary-dark {
    background: var(--secondary-dark);
}

/* Layout */

#banner {
    border:solid;
    border-color: black;
    border-radius: 1rem;
    border-width: medium;
    height: auto;
    margin: 3rem 0;
    max-width: 85%;
    min-width: 28rem;
}

div:has(> #header, > #footer) {
    margin: 1.5rem 0;
}

#footer {
    & .mud-button {
        color: white;
    }
    & .layout-menu, .page-button {
        & span {
            font-family: Impact;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }
    & .mail-button, .section-button {
        padding: 0 0.5rem;
    }
    & .mud-button-text .danger {
        color: var(--danger-darken-3);
        font-weight:bold;
    }
    & .mud-button-filled:has(.danger) {
        background: var(--danger-darken-3);
    }
    & .paragraph {
        font-size: 1rem;
    }
}

#header {
    & .mud-button-text {
        color: #0288D1;
    }
    & .mud-button-filled {
        background: #0288D1;
        color: white;
    }
}

#version {
    color: #0288D1;
    text-align: right;
}

/* QuoteCarousel */

div:has(> .quote-carousel) {
    margin: 6rem 0 3rem 0;
}

.quote-carousel {
    border: solid;
    border-color: black;
    border-radius: 1rem;
    border-width: medium;
    color: white;
    height: 6rem;
    margin: 3rem 0;
}

.quote-carousel-item {
    align-items: center;
    background: #B0BEC5;
    display: flex;
    justify-content: center;
    & div {
        font-size: 0.8rem;
        line-height: normal;
        width: 80%;
    }
    & span:first-child {
        font-family: 'Courier New';
        font-style: italic;
        font-weight: bold;
    }
    & span:nth-child(2) {
        color: #01579B;
        font-family: Impact;
        white-space: nowrap;
    }
}

/* Home */

#actualites .mud-card {
    width: 20rem;
}

#partenariats .mud-card {
    width: 16rem;
}

#values {
    width: 27.5rem;
    & div:has(div) {
        margin: 1rem 0;
    }
    & div div {
        width: 5rem;
        &:has(p) {
            width: 7.5rem;
        }
    }
}

.mud-card-content > .paragraph {
    font-size: 1rem;
}

/* Common */

.bold {
    font-weight: bold;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.justify {
    text-align: justify;
}

.italic {
    font-style: italic;
}

h1, h2 {
    color: #0277BD;
    font-family: Impact;
    font-weight: normal;
    margin: 3rem 0 1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.large {
    font-size: 1.25rem;
}

.huge {
    font-size: 1.5rem;
}

.link-button, .mail-button {
    width: fit-content;
}

.link-button {
    & span {
        color: #78909C;
    }
    &:has(.primary-text) span {
        color: #0277BD;
    }
}

.paragraph {
    font-family:'Sitka Display';
}

/* Mud */

.mud-button .mud-button-label {
    text-transform: none;
}

.mud-expand-panel-header {
    background-color: #546E7A;
    color: white;
}

.mud-expand-panel.mud-expand-panel-border.mud-elevation-1, .mud-expand-panel-header,
.mud-paper.mud-elevation-1 {
    border-radius: 1rem;
}
