.common__activator {
    color: inherit;
    font-size: var(--fontsize);
}

.common__activator__content {
    display: inline-block;
}

svg + span {
    margin-left: 0.25rem;
}

span:has(+ svg) {
    margin-right: 0.25rem;
}
