@using Common.Models
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent
@inject NavigationManager NavigationManager

@{
    _ = _builder.Add("common__operation");

    if (Model.IsExternal && Model.Location is string location)
    {
        <a class=@_builder aria-label=@Model.Label href=@location target="_blank">
            @ChildContent
        </a>
    }
    else
    {
        var action = Action ?? (Model.Location is null ? () => { } : () => NavigationManager.NavigateTo(Model.Location));

        <button class=@_builder aria-label=@Model.Label type="button" @onclick=action>
            @ChildContent
        </button>
    }
}

@code {
    [Parameter, EditorRequired]
    public UriModel Model { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Action? Action { get; set; }
}
