@page "/Actualite"
@using ABM.Paie.Components
@using ABM.Paie.Models
@using ABM.Paie.Resources

<PageTitle>ABM Paie - Actualités</PageTitle>

<h1>Nouveautés</h1>

<div class="secondary-dark white-text d-flex flex-column justify">
    <Paragraph Css="bold">Décembre 2024 :</Paragraph>
    <Paragraph Css="huge">La formation <span class="italic">Absences en heures mensualisées</span>.</Paragraph>
    <div class="d-flex flex-column-2">
        <img src="/images/formations/ABMq_Absences.jpg" alt="Absences en heures mensualisées" width="200" />
        <div >
            <Paragraph>
                Cette formation pointue détaille toutes les subtilités du retrait des absences dans le logiciel My Silae
                selon les méthodes réelles ou moyennes en heures ou en calendaire.
            </Paragraph>
            <LinkButton Link="@(new Link("https://abmformation.catalogueformpro.com", "voir le catalogue en ligne", true, css: "white-text"))" />
        </div>
    </div>
</div>
