@page "/Formation"
@page "/Formation/{Sub}"
@using ABM.Paie.Enumerations
@using ABM.Paie.Helpers
@using ABM.Paie.Resources

<PageTitle>ABM Paie - Formations</PageTitle>

<div style="text-align:justify;margin-bottom:20px;">
    <div style="margin:20px 0px;">
        <MudText Class="indigo-text" Typo="Typo.h6">
            Catalogue
        </MudText>

        <MudText style="margin:10px 0px;">
            En cours de construction.
        </MudText>

        <MudText Class="indigo-text" Typo="Typo.h6">
            Perfectionnement
        </MudText>

        <MudText Style="margin:10px 0px;">
            <b>La formation <i>Absences en heures mensualisées :</i></b>
        </MudText>

        <MudText Style="margin:10px 0px;">
            Cette formation pointue détaille toutes les subtilités du retrait des absences dans le logiciel MySilae 
            selon les méthodes réelles ou moyennes en heures ou en calendaire.<br />
            <MudButton Class="indigo-text text-lighten-2" Variant="Variant.Text"
                       Href="@(UriHelper.Get(Constants.Contact))"
                       EndIcon="@Icons.Material.TwoTone.ArrowCircleRight" Style="text-transform:none;">
                prendre contact pour plus d'informations
            </MudButton>
        </MudText>
    </div>
</div>

@code {
    [Parameter]
    public string? Sub { get; set; }
}
