@page "/Formation"
@page "/Formation/{Section}"
@using ABM.Paie.Components
@using ABM.Paie.Models
@using ABM.Paie.Resources

<PageTitle>ABM Paie - Formations</PageTitle>

<div class="justify">
    <h1>Catalogue</h1>

    <Paragraph>
        Découvrez le catalogue de formation ABM Paie au travers de <span class="bold">tous les programmes de formation</span>.<br />
    </Paragraph>
    <LinkButton Link="@(new Link("https://abmformation.catalogueformpro.com", "voir le catalogue en ligne", true))" />

    <h1>Perfectionnement</h1>

    <Paragraph Css="bold">
        La formation <span class="italic">Absences en heures mensualisées :</span>
    </Paragraph>

    <Paragraph>
        Cette formation pointue détaille toutes les subtilités du retrait des absences dans le logiciel My Silae 
        selon les méthodes réelles ou moyennes en heures ou en calendaire.
    </Paragraph>
    <LinkButton Link="@(new Link("https://abmformation.catalogueformpro.com", "découvrir le programme de formation via le catalogue en ligne", true))" />
</div>

@code {
    [Parameter]
    public string? Section { get; set; }
}
