/* --- --- --- --- --- */
/*  CUSTOM PROPERTIES  */
/* --- --- --- --- --- */

/* Colors */
@property --shade {
    syntax: "<color>";
    inherits: false;
    initial-value: #0000000d;
}
@property --black {
    syntax: "<color>";
    inherits: false;
    initial-value: #000000;
}
@property --white {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}
@property --primary {
    syntax: "<color>";
    inherits: false;
    initial-value: #0288d1;
}
@property --primary-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #013d5f;
}
@property --danger {
    syntax: "<color>";
    inherits: false;
    initial-value: #c00000;
}
@property --warning {
    syntax: "<color>";
    inherits: false;
    initial-value: #843c0c;
}
@property --success {
    syntax: "<color>";
    inherits: false;
    initial-value: #528235;
}
@property --gray-light {
    syntax: "<color>";
    inherits: false;
    initial-value: #e3e3e3;
}
@property --gray-dark {
    syntax: "<color>";
    inherits: false;
    initial-value: #70797d;
}
@property --gray {
    syntax: "<color>";
    inherits: false;
    initial-value: #b0bec5;
}

/* --- --- --- --- --- */
/* --- -- FONTS -- --- */
/* --- --- --- --- --- */

/* Cabin Sketch */
@font-face {
    font-family: 'Cabin Sketch Regular';
    src: url('../fonts/Cabin_Sketch/CabinSketch-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cabin Sketch Bold';
    src: url('../fonts/Cabin_Sketch/CabinSketch-Bold.ttf') format('truetype');
}

/* Encode Sans */
@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/Encode_Sans/EncodeSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Encode Sans Condensed Black';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed Bold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed ExtraBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed ExtraLight';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed Light';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed Medium';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed Regular';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed SemiBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Condensed Thin';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Condensed-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Encode Sans Expanded Black';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded Bold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded ExtraBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded ExtraLight';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded Light';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded Medium';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded Regular';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded SemiBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Expanded Thin';
    src: url('../fonts/Encode_Sans/static/EncodeSans_Expanded-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Encode Sans SemiCondensed Black';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed Bold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed ExtraBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed ExtraLight';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed Light';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed Medium';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed Regular';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed SemiBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiCondensed Thin';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiCondensed-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Encode Sans SemiExpanded Black';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded Bold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded ExtraBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded ExtraLight';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded Light';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded Medium';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded Regular';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded SemiBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiExpanded Thin';
    src: url('../fonts/Encode_Sans/static/EncodeSans_SemiExpanded-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Encode Sans Black';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Bold';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans ExtraBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans ExtraLight';
    src: url('../fonts/Encode_Sans/static/EncodeSans-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Light';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Medium';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Regular';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans SemiBold';
    src: url('../fonts/Encode_Sans/static/EncodeSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Encode Sans Thin';
    src: url('../fonts/Encode_Sans/static/EncodeSans-Thin.ttf') format('truetype');
}

/* Hurricane */
@font-face {
    font-family: 'Hurricane Regular';
    src: url('../fonts/Hurricane/Hurricane-Regular.ttf') format('truetype');
}

/* Kaushan Script */
@font-face {
    font-family: 'Kaushan Script Regular';
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
}

/* Permanent Marker */
@font-face {
    font-family: 'Permanent Marker Regular';
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
}

/* --- --- --- --- --- */
/* -- CUSTOM STYLES -- */
/* --- --- --- --- --- */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    transition: 220ms all ease-in-out;
}

button:disabled {
    cursor: not-allowed;
    fill: var(--shade) !important;
}

button:disabled, button:hover {
    background-color: var(--shade);
}

svg {
    fill: inherit;
}
