.m-0 {
  margin: 0;
}
.mt-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ms-0 {
  margin-left: 0;
}
.me-0 {
  margin-right: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}
.mt-1 {
  margin-right: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.ms-1 {
  margin-left: 0.25rem;
}
.me-1 {
  margin-right: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}
.mt-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ms-2 {
  margin-left: 0.5rem;
}
.me-2 {
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 1rem;
}
.mt-3 {
  margin-right: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.ms-3 {
  margin-left: 1rem;
}
.me-3 {
  margin-right: 1rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-4 {
  margin: 1.5rem;
}
.mt-4 {
  margin-right: 1.5rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.ms-4 {
  margin-left: 1.5rem;
}
.me-4 {
  margin-right: 1.5rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-5 {
  margin: 2rem;
}
.mt-5 {
  margin-right: 2rem;
}
.mb-5 {
  margin-bottom: 2rem;
}
.ms-5 {
  margin-left: 2rem;
}
.me-5 {
  margin-right: 2rem;
}
.mx-5 {
  margin-left: 2rem;
  margin-right: 3rem;
}
.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-auto {
  margin: auto;
}
.mt-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-0 {
  margin: 0;
}
.pt-0 {
  margin-right: 0;
}
.pb-0 {
  margin-bottom: 0;
}
.ps-0 {
  margin-left: 0;
}
.pe-0 {
  margin-right: 0;
}
.px-0 {
  margin-left: 0;
  margin-right: 0;
}
.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p-1 {
  margin: 0.25rem;
}
.pt-1 {
  margin-right: 0.25rem;
}
.pb-1 {
  margin-bottom: 0.25rem;
}
.ps-1 {
  margin-left: 0.25rem;
}
.pe-1 {
  margin-right: 0.25rem;
}
.px-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.py-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-2 {
  margin: 0.5rem;
}
.pt-2 {
  margin-right: 0.5rem;
}
.pb-2 {
  margin-bottom: 0.5rem;
}
.ps-2 {
  margin-left: 0.5rem;
}
.pe-2 {
  margin-right: 0.5rem;
}
.px-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.py-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-3 {
  margin: 1rem;
}
.pt-3 {
  margin-right: 1rem;
}
.pb-3 {
  margin-bottom: 1rem;
}
.ps-3 {
  margin-left: 1rem;
}
.pe-3 {
  margin-right: 1rem;
}
.px-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.py-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-4 {
  margin: 1.5rem;
}
.pt-4 {
  margin-right: 1.5rem;
}
.pb-4 {
  margin-bottom: 1.5rem;
}
.ps-4 {
  margin-left: 1.5rem;
}
.pe-4 {
  margin-right: 1.5rem;
}
.px-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.py-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-5 {
  margin: 2rem;
}
.pt-5 {
  margin-right: 2rem;
}
.pb-5 {
  margin-bottom: 2rem;
}
.ps-5 {
  margin-left: 2rem;
}
.pe-5 {
  margin-right: 2rem;
}
.px-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.py-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-auto {
  margin: auto;
}
.pt-auto {
  margin-right: auto;
}
.pb-auto {
  margin-bottom: auto;
}
.ps-auto {
  margin-left: auto;
}
.pe-auto {
  margin-right: auto;
}
.px-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-auto {
  margin-top: auto;
  margin-bottom: auto;
}
