.common-card {
    --common-card-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: var(--common-card-border-radius);
    box-shadow: 0 0.125rem 0.25rem 0.125rem var(--shade-dark);
    color: var(--gray-dark);
    font-family: 'Encode Sans SemiExpanded Medium';
    text-align: center;
    align-items: center;
    padding: 0 0 0.5rem;
    width: 15rem;
    & .common-paragraph {
        margin: 0.5rem 0 0.25rem 0;
    }
}
