.common__card {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem 0.125rem var(--shade-dark);
    color: var(--gray-dark);
    text-align: center;
    align-items: center;
    padding-bottom: 0.5rem;
    width: 15rem;
}
.common__card {
    & .common__paragraph {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
    }
}

.common__card.top {
    & .common__image {
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
    }
}

.common__card.bottom {
    & .common__image {
        border-end-start-radius: inherit;
        border-end-end-radius: inherit;
    }
}
