@inherits BaseComponent

<div class=@_builder>
    @Title
    @ImageTemplate
    @Description
    @OperationTemplate
</div>

@code {
    [Parameter]
    public RenderFragment? Title { get; set; }
    [Parameter]
    public RenderFragment? ImageTemplate { get; set; }
    [Parameter]
    public RenderFragment? Description { get; set; }
    [Parameter]
    public RenderFragment? OperationTemplate { get; set; }

    protected override void OnInitialized()
    {
        _ = _builder.Append("common-card");
        base.OnInitialized();

        if (Title is null) _ = _builder.Append("top");
        if (Description is null && OperationTemplate is null) _ = _builder.Append("bottom");
    }
}
