.common__card, .common__card > div {
  display: flex;
  flex-direction: column;
  border: none;
  text-align: center;
  align-items: center;
}

.common__card {
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem 0.125rem var(--shade-dark);
  color: var(--gray-dark);
  padding-bottom: 0.5rem;
  width: 15rem;
}

.common__card.large {
  width: 18rem;
}

.common__card > div {
  width: inherit;
  min-height: 10rem;
  max-height: 12rem;
  overflow: hidden;
}

.common__card.large > div {
  max-height: inherit;
}

.common__card.top > div {
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}

.common__card.bottom > div {
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}

.common__card {
  & .common__paragraph {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    margin-inline: 0.5rem;
  }
}

.common__card:not(.large) {
  & .common__paragraph {
    --fontsize: 0.9rem;
  }
}

.common__card {
  & > div .common__image {
    height: auto;
    position: relative;
    top: 50%;
    transform: translate(0,-50%)
  }
}
