@using System.Timers
@using Microsoft.AspNetCore.Components.Web
@using Common.Enumerations
@using Common.Extensions
@using Common.Models
@typeparam T
@inherits BaseComponent
@implements IDisposable

<div class=@_builder>
    <OpButton Class="left" Label="Suivant" Action=Previous IsDisabled=_isDisabled
        Color=Color FontSize=FontSize>
        <Icon Content=@IconPath.ArrowBack />
    </OpButton>
    @for (_position = 0; _position < Batch; _position++)
    {
        @ChildContent(Templates.ElementAtOrDefault(GetIndex()))
    }
    <OpButton Class="right" Label="Suivant" Action=Next IsDisabled=_isDisabled
        Color=Color FontSize=FontSize>
        <Icon Content=@IconPath.ArrowForward />
    </OpButton>
</div>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<T?> Templates { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment<T?> ChildContent { get; set; }
    [Parameter]
    public int? Interval { get; set; } = 10;
    [Parameter]
    public int Batch { get; set; } = 1;

    private const int SecondsToMilliseconds = 1000;
    private Timer? _timer;
    private int _count;
    private int _index = 0;
    private int _position = 0;
    private bool _isDisabled;

    protected override void OnInitialized()
    {
        _ = _builder.Append("common-carousel").Append(typeof(T).Name.ToLower());
        base.OnInitialized();

        _count = Templates.Count();
        _isDisabled = _count <= Batch;
        if (_isDisabled) Batch = _count;

        if (Templates.Any() && !_isDisabled && Interval.HasValue)
        {
            _timer = new(Interval.Value * SecondsToMilliseconds);
            _timer.Elapsed += OnTimedEvent;
            _timer.AutoReset = true;
            _timer.Start();
        }
    }

    private void OnTimedEvent(object? sender, ElapsedEventArgs e)
    {
        SetCurrent();
    }

    private void Previous()
    {
        SetCurrent(false);
        _timer?.Reset();
    }

    private void Next()
    {
        SetCurrent();
        _timer?.Reset();
    }

    private void SetCurrent(bool isNext = true)
    {
        if (_count > 0)
        {
            _position = 0;
            _index = GetIndex(isNext);
            StateHasChanged();
        }
    }

    private int GetIndex(bool isNext = true)
    {
        return (_index + _position + (isNext ? 1 : _count - 1)) % _count;
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}
