.common__carousel {
    display: flex;
    border-radius: 1rem;
}

.right {
    border-start-end-radius: inherit;
    border-end-end-radius: inherit;
}

.left {
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
}

.quotedata {
    height: 6rem;
    background: var(--gray);
    color: var(--white);
}

button {
    color: inherit;
    fill: currentColor;
}
button {
    & .common__icon {
        width: 1.5rem;
    }
}
