.common__carousel {
  display: flex;
  border-radius: 1rem;
}

.right {
  border-start-end-radius: inherit;
  border-end-end-radius: inherit;
}

.left {
  border-start-start-radius: inherit;
  border-end-start-radius: inherit;
}

button {
  padding: 0.5rem;
  color: inherit;
  fill: currentColor;
}
button {
  & .common__icon {
    height: 1.75rem;
  }
}
