.common-carousel {
    display: flex;
    border-radius: 1rem;
}
.common-carousel {
    & .right {
        border-start-end-radius: inherit;
        border-end-end-radius: inherit;
    }
}
.common-carousel {
    & .left {
        border-start-start-radius: inherit;
        border-end-start-radius: inherit;
    }
}

.common-carousel.quotedata {
    --common-carousel-color: var(--white);
    height: 6rem;
    background: var(--gray);
    color: var(--common-carousel-color);
}

.common-carousel > button, button.common-button.common-op {
    fill: var(--common-carousel-color) !important;
}
.common-carousel > button {
    & .common-icon {
        height: 2.5rem;
        width: 2.5rem;
    }
}
