.common-carousel {
    --common-carousel-border-radius: 1rem;
    display: flex;
    border-radius: var(--common-carousel-border-radius);
}

.common-carousel.quote {
    --common-carousel-color: var(--white);
    height: 6rem;
    background: var(--gray);
    color: var(--white);
}

.common-carousel-button {
    fill: var(--common-carousel-color);
    & svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}

.common-carousel-button.right {
    border-radius: 0 var(--common-carousel-border-radius) var(--common-carousel-border-radius) 0;
}

.common-carousel-button.left {
    border-radius: var(--common-carousel-border-radius) 0 0 var(--common-carousel-border-radius);
}
