.common__drawing {
  height: fit-content;
  position: relative;
}

.common__drawing__signature {
  & > .common__image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem 1rem;
  }
}
