@using Common.Components.Operations
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models.Operations
@inherits BaseComponent
@inject NavigationManager NavigationManager

@{
    _ = _builder.Add("common__dropdownmenu");

    if (Model.FirstOrDefault() is OperationModel title)
    {
        var hasLinks = Model.Count() > 1;

        if (IsDropDown && hasLinks) title = title with { Activator = title.Activator with { EndIcon = IconPath.ArrowDropDown }, Action = () => { } };
        else if (!IsDropDown) _ = _builder.Add("block");
    
        <div class=@_builder>
            <!-- TODO aria-controls needs set up -->
            <!-- TODO aria-expanded needs managed with Javascript -->
            <Operation Model=title />@*  Class=@Class /> *@
            @if (hasLinks || ChildContent is not null)
            {
                <ul class="common__dropdownmenu__content">
                    @foreach (var link in Model.Skip(1))
                    {
                        <li><Operation Model=link /></li>
                    }
                    @if (ChildContent is not null)
                    {
                        <li>@ChildContent</li>
                    }
                </ul>
            }
        </div>
    }
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<OperationModel> Model { get; set; }

    [Parameter]
    public bool IsDropDown { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
