@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent
@inject NavigationManager NavigationManager


@if (Title is not null)
{
    var hasLinks = Menu.Count() > 1;
    if (IsDropDown && hasLinks)
    {
        Title.Action = () => { };
        Title.Activator.EndIcon = IconPath.ArrowDropDown;
    }

    <div class="common__dropdownmenu">
        <!-- TODO aria-controls needs set up -->
        <!-- TODO aria-expanded needs managed with Javascript -->
        <NavTemplate Model=Title Class=@Class />

        @if (hasLinks || ChildContent is not null)
        {
            <ul class="common__dropdownmenu__content">
                @foreach (var link in Menu.Skip(1))
                {
                    <li><NavTemplate Model=link /></li>
                }
                @if (ChildContent is not null)
                {
                    <li>@ChildContent</li>
                }
            </ul>
        }
    </div>
}

@code {
    private NavModel? Title => Menu.FirstOrDefault();

    [Parameter, EditorRequired]
    public IEnumerable<NavModel> Menu { get; set; }
    [Parameter]
    public bool IsDropDown { get; set; } = true;
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
