.common__dropdown {
    display: inline-block;
    vertical-align: bottom;
}

.common__dropdown__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0.125rem 0.25rem 0.125rem var(--shade-dark);
    visibility: visible;
    z-index: 1;
}
.common__dropdown__content {
    & .common__navaction {
        border-radius: 0;
        text-align: justify;
        width: stretch;
    }
}

.common__dropdown__content.hidden {
    visibility: hidden;
}
