@using Common.Enumerations
@using Common.Extensions
@inherits BaseComponent

<a class=@_builder href=@Url style="--common-link-color:@Color.ToVar();--common-link-font-size:@FontSize.GetDescription();">
    @StartIcon
    @ChildContent
    @if (IsExternal) { <Icon Content=Icon.Path.OpenInNew /> }
    else @EndIcon
</a>

@code {
    [Parameter, EditorRequired]
    public string Url { get; set; }
    [Parameter]
    public bool IsExternal { get; set; } = false;
    [Parameter]
    public Icon? StartIcon { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public Icon? EndIcon { get; set; }

    protected override void OnInitialized()
    {
        _ = _builder.Append("common-link");
        base.OnInitialized();
    }
}
