@using Common.Models
@using Microsoft.AspNetCore.Components.Web

<nav class="common__nav" aria-label="Barre de navigation">
    <ul>
        <li>@ChildContent</li>
        @foreach (var menu in Models.Where(m => m.Any()))
        {
            <li><DropDownMenu Class="primary" Model=@menu IsDropDown=true /></li>
        }
    </ul>
</nav>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<IEnumerable<OperationModel>> Models { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
