@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@using Microsoft.AspNetCore.Components.Web

<nav class="common__nav" aria-label="Barre de navigation">
    <ul>
        <li>@ChildContent</li>
        @foreach (var menu in Menus.Where(m => m.Any()))
        {
            <li><DropDownMenu Class="primary" Menu=@menu IsDropDown=true /></li>
        }
    </ul>
</nav>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<IEnumerable<NavModel>> Menus { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
