nav {
    --nav--transition: 500ms all 125ms ease-out;
    background: var(--white);
    position: sticky;
    top: 0;
    box-shadow: 0 0.125rem 0.25rem 0.125rem var(--white);
    margin: 0.5rem 0;
    padding: 0.5rem 0 0 0;
}

nav, nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav > ul {
    & .common__image {
        height: 2.75rem;
    }
}

nav > ul > li {
    & > a:has(.common__image) {
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}
nav > ul > li {
    & > .common__link {
        font-size: 1.25rem;
        padding: 1rem;
    }
}
nav > ul > li {
    & > .common__link:has(+.dropdown__menu) {
        border-radius: 0;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    & > .common__link .common__icon {
        transition: var(--nav--transition);
    }
}

.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
    opacity: 1;
    transform: rotateX(0);
    visibility: visible;
}
.dropdown:hover, .dropdown:focus-within {
    & > .common__link .common__icon {
        transform: rotateX(180deg);
        transition: var(--nav--transition);
    }
}

.dropdown__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    min-width: 10rem;
    box-shadow: 0 0.125rem 0.25rem 0.125rem var(--shade-dark);
    visibility: hidden;
    z-index: 1;
    transform: rotateX(-90deg);
    transform-origin: top center;
    opacity: 0;
    transition: var(--nav--transition);
}
.dropdown__menu {
    & .common__link {
        border-radius: 0;
        text-align: left;
        width: stretch;
    }
}

.dropdown__menu li {
    width: stretch;
}
