@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@using Microsoft.AspNetCore.Components.Web

<nav aria-label="Barre de navigation">
    <ul>
        <li>@ChildContent</li>
        @foreach (var menu in Menus.Where(m => m.Any()))
        {
            if (menu.Any())
            {
                <li class="dropdown">
                    @{
                        var title = menu.First();
                        var isDropDown = menu.Count() > 1;
                        if (isDropDown)
                        {
                            title.Action = () => { };
                            title.Activator.EndIcon = IconPath.ArrowDropDown;
                        }
                    }
                    <NavAction Model=title Class="primary">
                        @title.Uri.Content
                    </NavAction>
                    <!-- TODO aria-controls needs set up -->
                    <!-- TODO aria-expanded needs managed with Javascript -->
                    @* TODO button onclick sets css variable for display property *@
                    @if (isDropDown)
                    {
                        <ul class="dropdown__menu">
                            @foreach (var nav in menu.Skip(1))
                            {
                                <li><NavAction Model=nav>@nav.Uri.Content</NavAction></li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
</nav>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<IEnumerable<NavModel>> Menus { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
