@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@inherits BaseComponent

@{
    _ = _builder.Add(Model.Activator.Class);

    if (Model.Uri.IsExternal) Model.Activator.EndIcon = IconPath.OpenInNew;
}

<OperationTemplate Class=@_builder Model=Model.Uri Action=Model.Action>
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        if (Model.Uri.Image is ImageModel image)
        {
            <Activator Model=Model.Activator>
                <Image Class="inline" Model=image />
            </Activator>
        }
        else
        {
            if (Model.Uri.Description is string description && !string.IsNullOrWhiteSpace(description))
            {
                <span>@description</span>
            }
            <Activator Model=Model.Activator>
                @Model.Uri.Content
            </Activator>
        }
    }
</OperationTemplate>

@code {
    [Parameter, EditorRequired]
    public OperationModel Model { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
