.common__paragraph {
    font-size: var(--fontsize);
    background-color: var(--filled--color);
    color: var(--color);
    line-height: 200%;
}

.common__paragraph:has(+ .common__paragraph) {
    margin-bottom: 0.5rem;
}

