@inherits BaseComponent

@{
    _ = _builder.Append("common__paragraph"); 
}

<p class=@_builder>
    @ChildContent
</p>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }
}
