.common__tooltip {
  box-sizing: content-box;
  position: relative;
  cursor: default;
}

.common__tooltip__text {
  position: absolute;
  background-color: var(--gray-dark);
  border: 0.125rem solid var(--white);
  color: var(--white);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transition: 250ms opacity 500ms ease-out;
}

.common__tooltip .common__tooltip__text[opaque],
.common__tooltip:has(> span:hover) .common__tooltip__text {
  opacity: 0;
  visibility: hidden;
}

.common__tooltip:not(:has(> span:hover)) {
  cursor: help;
}
