@page "/Contact"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Operations
@using Common.Enumerations
@using Common.Models
@inject IUriProvider UriProvider

<Section Model=@UriProvider.Get(AbmUri.Contact) />

<Section Model=@UriProvider.Get(AbmUri.Reserver) Level=SectionLevel.H2 />

<Paragraph>
    Afin d'organiser au mieux mes journées de travail entre formation et ingénierie de formation, 
    j'ai bloqué des créneaux dédiés pour un échange individuel, complet et personnalisé avec vous.
    <br />
    <Operation Model=@new(UriProvider.Get(AbmUri.RendezVous), new(IconPath.CalendarMonth, Class: "primary")) /> @* TODO *@
</Paragraph>

<Section Model=@UriProvider.Get(AbmUri.Coordonnees) Level=SectionLevel.H2 />

<Paragraph>
    Si je suis indisponible (en formation par exemple), veuillez me laisser vos coordonnées, de préférence par SMS avec :
</Paragraph>

<Paragraph class="leftseparator">
    le nom de l'entreprise,
    <br />
    la personne à contacter,
    <br />
    le numéro de téléphone,
    <br />
    et l'objet de l'appel.
</Paragraph>

<Paragraph>
    <b>Privilégiez la prise de rendez-vous en ligne,</b> 
    nous serons sûrs de consacrer un temps dédié à notre échange (15 ou 30 minutes selon vos préférences et besoins).
</Paragraph>

<div class="wrap">
    <div class="column grow">
        <h3 id="telephone">Par téléphone : +33 7 48 10 65 39</h3>
        <Operation Model=@(new(UriProvider.Get(AbmUri.Call), new(IconPath.Call))) />
        <Operation Model=@(new(UriProvider.Get(AbmUri.Sms), new(IconPath.Sms))) />
        <Operation Model=@(new(UriProvider.Get(AbmUri.WhatsApp), new(Class: "whatsapp"))) />
    </div>
    <div class="column grow">
        <h3>Une question ?</h3>
        <Operation Model=@(UriProvider.Get(AbmMail.PaieFormation)) />
        
        <h3>Demandes précises :</h3>
        <Operation Model=@(UriProvider.Get(AbmMail.RefHandicap)) />
        <Operation Model=@(UriProvider.Get(AbmMail.Assistance)) />
        <Operation Model=@(UriProvider.Get(AbmMail.Facturation)) />
        <Operation Model=@(UriProvider.Get(AbmMail.HistoriqueVersions)) />
    </div>
</div>

<Section Model=@UriProvider.Get(AbmUri.PagesOfficielles) Level=SectionLevel.H2 />

<Paragraph Class="mb-5">
    <b>Consulter mon réseau professionnel :</b>
    <Operation Model=@(new(UriProvider.Get(AbmUri.LinkedIn), new(Class: "linkedin"))) />
</Paragraph>
