@page "/"
@using Common.Components
@using Common.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using Common.Models

@{
    var quotes = Quotes.GetAll().ToRandomizedList();
}

<PageTitle>ABM Paie</PageTitle>

<Carousel Templates=quotes>
    <QuoteTemplate Quote=context />
</Carousel>

<h1>Partenariats</h1>

<Card>
    <Illustration>
        <Image Source="/images/facilaepaie/Logo Facilae_edited.avif" Label="Logo Facilae Paie" />
    </Illustration>
    <Description>
        <Paragraph>
            Facilite vos migrations et vos paramétrages dans Silae...
        </Paragraph>
    </Description>
    <Action>
        <Link Url="https://www.facilaepaie.com" IsExternal=true Color=Color.Partner>
            visiter Facilae Paie
        </Link>
    </Action>
</Card>
