@page "/"
@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using Common.Models

@{
    var quotes = Quotes.GetAll().ToRandomizedList();
}

<PageTitle>ABM Paie</PageTitle>

<div id="body">

    <Carousel Templates=quotes>
        <QuoteTemplate Data=context />
    </Carousel>
    
    <h1>Partenariats</h1>
    
    <Card>
        <ImageTemplate>
            <Image Source="/images/facilaepaie/Logo Facilae_edited.avif" Label="Logo Facilae Paie" />
        </ImageTemplate>
        <Description>
            <Paragraph>
                Facilite vos migrations et vos paramétrages dans Silae...
            </Paragraph>
        </Description>
        <LinkTemplate>
            <Link Url="https://www.facilaepaie.com" Label="visiter Facilae Paie" IsExternal=true Color=Color.Partner />
        </LinkTemplate>
    </Card>

</div>
