@page "/"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Operations
@using Common.Components.Templates
@using Common.Extensions
@using Common.Models.Uris
@inject IUriProvider UriProvider

<PageTitle>ABM Paie</PageTitle>

<div class="flex-center column">

    @{ var quotes = Quotes.GetAll().ToRandomizedList(); }
    
    <Carousel Templates=quotes>
        <QuoteTemplate Model=context />
    </Carousel>
    
    <h1>Partenariats</h1>
    
    @{
        var partenariats = new (ImageUriModel Model, string Class)[]
        {
            new(UriProvider.Get<ImageUriModel>(AbmUri.Facilae), "facilae"),
            new(UriProvider.Get<ImageUriModel>(AbmUri.Prismatik), "prismatik"),
        };
    }
    
    <Carousel Templates=partenariats.ToRandomizedList() Batch=3>
        <Card Class="mx-2">
            <Illustration>
                <ImageTemplate Model=context.Model.Image />
            </Illustration>
            <Description>
                <Paragraph Class="italic">
                    @context.Model.Description
                </Paragraph>
            </Description>
            <Action>
                <Operation Model=@(new(context.Model.ToBase(content: "visiter " + context.Model.Content), new(Class: context.Class))) />
            </Action>
        </Card>
    </Carousel>

</div>
