@page "/"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Enumerations
@using Common.Extensions
@using Common.Models
@inject IUriProvider UriProvider
@inject INewsService News

<PageTitle>ABM Paie</PageTitle>

@{
    var quotes = Quotes.GetAll().ToRandomizedList();
}

<div class="full-center column">

    <h1>Faire découvrir, progresser et se perfectionner</h1>

    <Paragraph Class="mb-5">
        Mon objectif est de faire monter en compétence vos gestionnaires de paie sur les domaines de la paie et de la DSN
        via le logiciel MySilae.
    </Paragraph>

    <Carousel Templates=quotes[0..6] Class="quote full-width">
        <Quote Model=context />
    </Carousel>

    <Section Model=@UriProvider.Get(AbmUri.Actualites) />

    @{
        var actualites = News.Recaps.Take(5);
    }

    <Carousel Class="mb-5" Templates=actualites Batch=3>
        <Card Class="large mx-2">
            <Title>
                <Paragraph Class="h2">
                    @context.LongDate
                </Paragraph>
            </Title>
            <Illustration>
                <Image Model=context.Image />
            </Illustration>
            <Description>
                <Paragraph Class="italic">
                    @context.Title
                </Paragraph>
            </Description>
            <Action>
                <Operation Model=@UriProvider.Get(AbmUri.Actualites).ToDefaultOperation(context.Id, "primary") />
            </Action>
        </Card>
    </Carousel>

    <Carousel Templates=quotes[24..30] Class="quote full-width">
        <Quote Model=context />
    </Carousel>
    
    <Section Model=@UriProvider.Get(AbmUri.Partenariats) />
    
    @{
        var partenariats = new (UriModel Model, string Class)[]
        {
            new(UriProvider.Get(AbmUri.Facilae), "facilae"),
            new(UriProvider.Get(AbmUri.Prismatik), "prismatik"),
        };
    }
    
    <Carousel Class="mb-5" Templates=partenariats.ToRandomizedList() Batch=3>
        <Card Class="mx-2">
            <Illustration>
                <Image Model=context.Model.Image />
            </Illustration>
            <Description>
                <Paragraph Class="italic">
                    @context.Model.Description
                </Paragraph>
            </Description>
            <Action>
                <Operation Model=@(new(context.Model.ToBase(content: "visiter " + context.Model.Content), new(Class: context.Class))) />
            </Action>
        </Card>
    </Carousel>

</div>
