@page "/"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Operations
@using Common.Components.Templates
@using Common.Extensions
@using Common.Models
@inject IUriProvider UriProvider

<PageTitle>ABM Paie</PageTitle>

@{
    var quotes = Quotes.GetAll().ToRandomizedList();
}

<div class="flex-center column">

    <h1>Faire découvrir, progresser et se perfectionner</h1>

    <Paragraph Class="mb-5">
        Mon objectif est de faire monter en compétence vos gestionnaires de paie sur les domaines de la paie et de la DNS
        via le logiciel MySilae.
    </Paragraph>

    <Carousel Templates=quotes[0..6] Class="quote full-width">
        <QuoteTemplate Model=context />
    </Carousel>

    <h1>Actualités</h1>

    @{
        var actualites = new (UriModel Model, string Class)[]
        {
            new(UriProvider.Get(AbmUri.Facilae), "facilae"),
            new(UriProvider.Get(AbmUri.Prismatik), "prismatik"),
        };
    }
    
    <h1 id="partenariats">Partenariats</h1>
    
    @{
        var partenariats = new (UriModel Model, string Class)[]
        {
            new(UriProvider.Get(AbmUri.Facilae), "facilae"),
            new(UriProvider.Get(AbmUri.Prismatik), "prismatik"),
        };
    }
    
    <Carousel Class="mb-5" Templates=partenariats.ToRandomizedList() Batch=3>
        <Card Class="mx-2">
            <Illustration>
                <ImageTemplate Model=context.Model.Image />
            </Illustration>
            <Description>
                <Paragraph Class="italic">
                    @context.Model.Description
                </Paragraph>
            </Description>
            <Action>
                <Operation Model=@(new(context.Model.ToBase(content: "visiter " + context.Model.Content), new(Class: context.Class))) />
            </Action>
        </Card>
    </Carousel>

</div>
