@page "/"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@inject IUriProvider UriProvider

<PageTitle>ABM Paie</PageTitle>

<div id="body">

    @{
        var quotes = Quotes.GetAll().ToRandomizedList();
    }
    <Carousel Templates=quotes>
        <QuoteTemplate Model=context />
    </Carousel>
    
    <h1>Partenariats</h1>
    
    @{
        var facilae = UriProvider.Get<UriImageModel>(AbmUri.PartenariatsFacilae);
    }
    <Card>
        <Illustration>
            <ImageTemplate Model=facilae.Image />
        </Illustration>
        <Description>
            <Paragraph>
                Facilite vos migrations et vos paramétrages dans Silae...
            </Paragraph>
        </Description>
        <Action>
            <NavTemplate Model=@new(facilae, new(Class: "facilae")) />
        </Action>
    </Card>

</div>
