@page "/"
@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Extensions
@using ABM.Paie.Formation.Resources
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Models
@inject IUriProvider UriProvider

<PageTitle>ABM Paie</PageTitle>

<div id="body">

    @{
        var quotes = Quotes.GetAll().ToRandomizedList();
    }
    <Carousel Templates=quotes>
        <QuoteTemplate Data=context />
    </Carousel>
    
    <h1>Partenariats</h1>
    
    @{
        var facilae = UriProvider.Get(AbmUri.PartenariatsFacilae);
    }
    <Card>
        <Illustration>
            <Image Source=@facilae.Image Label="Logo Facilae Paie" />
        </Illustration>
        <Description>
            <Paragraph>
                Facilite vos migrations et vos paramétrages dans Silae...
            </Paragraph>
        </Description>
        <Action>
            <NavTemplate Model=facilae Class="facilae" />
        </Action>
    </Card>

</div>
