@using ABM.Paie.Components
@using ABM.Paie.Extensions
@using ABM.Paie.Models
@using ABM.Paie.Pages

@{
	var accueilActivator = new MenuButton("Accueil", "/");

	var formationActivator = new MenuButton("Formations");
	var formationItems = new MenuButton[]
	{
		new("Catalogue en ligne", "https://abmformation.catalogueformpro.com", true),
		new("Perfectionnement", $"/{nameof(Formation)}/Perfectionnement"),
	};

	var actualiteActivator = new MenuButton("Actualités", $"/{nameof(Actualite)}");

	var abmPaieActivator = new MenuButton("ABM Paie".ToBold());
	var abmPaieItems = new MenuButton[]
	{
		new("Organigramme", $"/{nameof(AbmPaie)}/Organigramme"),
		new("Équipe pédagogique", $"/{nameof(AbmPaie)}/Equipe"),
		new("Référente Assistance technique et pédagogique", $"/{nameof(AbmPaie)}/Assistance"),
		new("Référente handicap", $"/{nameof(AbmPaie)}/Handicap"),
		new("Les indicateurs formation", $"/{nameof(AbmPaie)}/Indicateurs"),
		new("Mes valeurs", $"/{nameof(AbmPaie)}/Valeurs"),
	};

	var experienceActivator = new MenuButton("Expérience");
	var experienceItems = new MenuButton[]
	{
		new("Curriculum vitae", "resources/ABMq_CV.pdf", true),
		new("Salariée Silae", $"/{nameof(Experience)}/Silae"),
		new("Formatrice Silae en chiffres", $"/{nameof(Experience)}/Chiffres"),
		new("Étudiante CAFEL", $"/{nameof(Experience)}/Cafel"),
	};

	var contactActivator = new MenuButton("Contact");
	var contactItems = new MenuButton[]
	{
		new("Prise de rendez-vous", $"/{nameof(Contact)}/Rdv"),
		new("Coordonnées (contact)", $"/{nameof(Contact)}/Coordonnees"),
		new("Mes pages officielles", $"/{nameof(Contact)}/Pages"),
	};

	var partenariatActivator = new MenuButton("Partenariats");
	var partenariatItems = new MenuButton[] { new("Facilae Paie", "https://www.facilaepaie.com", true) };
}

<div>
	<HeaderMenu Activator="accueilActivator" />
	<HeaderMenu Activator="formationActivator" Items="formationItems" />
	<HeaderMenu Activator="actualiteActivator" />
	<HeaderMenu Activator="abmPaieActivator"  Items="abmPaieItems" />
	<HeaderMenu Activator="experienceActivator" Items="experienceItems" />
	<HeaderMenu Activator="contactActivator" Items="contactItems" Variant="Variant.Filled" />
	<HeaderMenu Activator="partenariatActivator" Items="partenariatItems" />
</div>
