@using ABM.Paie.Components
@using ABM.Paie.Extensions
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

<MudContainer>
    <div class="d-flex center">
        <a href="/"><img src="/images/logos/abm-paie.png" alt="logo ABM Paie" width="100" height="100" /></a>
        <MainHeader />
    </div>

    @Body
    
    <div class="d-flex primary white-text">
        <MainFooter />
    </div>

    <div id="version">
        <Paragraph>version : 202501.0</Paragraph>
    </div>

    <MudScrollToTop>
        <MudFab Class="primary white-text" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudContainer>
