<div class="d-flex flex-wrap">
	<div style="padding:20px;">
		<MudButton Class="white-text" Variant="Variant.Text" Href="">
			<MudText Typo="Typo.h5">
				<b>Accueil</b>
			</MudText>
		</MudButton>

		<MudText Typo="Typo.h5" Style="margin:20px 0px 0px 8px">
			<b>Formations</b>
		</MudText>
	
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Initiale
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Perfectionnements
			</MudText>
		</MudButton>
	</div>
	<div style="padding:20px;">
		<MudText Typo="Typo.h5" Style="margin:8px 0px 0px 8px;">
			<b>ABM PAIE</b>
		</MudText>
	
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Les indicateurs formation
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Mes valeurs
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Les actualités
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="pink-text text-darken-4" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Référente pédagogique
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="pink-text text-darken-4" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Référente Handicap
			</MudText>
		</MudButton>
	</div>
	<div style="padding:20px;">
		<MudText Typo="Typo.h5" Style="margin:8px 0px 0px 8px;">
			<b>Expérience</b>
		</MudText>
	
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Salariée Silae
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Formatrice Silae en chiffres
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Étudiante Cafel
			</MudText>
		</MudButton>
		<br />

		<MudMenu AnchorOrigin="Origin.BottomLeft" Dense="true" ActivationEvent="@MouseEvent.MouseOver" Style="margin:20px 0px 0px 0px">
			<ActivatorContent>
				<MudButton Class="white-text" Variant="Variant.Text" EndIcon="@Icons.Material.Filled.KeyboardArrowDown"><MudText Typo="Typo.h5"><b>Partenariat</b></MudText></MudButton>
			</ActivatorContent>
			<ChildContent>
				<MudMenuItem>Facilae Paie</MudMenuItem>
			</ChildContent>
		</MudMenu>
	</div>
	<div style="padding:20px;">
		<MudText Typo="Typo.h5" Style="margin:0px 0px 0px 8px">
			<b>Contact</b>
		</MudText>
	
		<MudButton Class="pink darken-3 white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				Prise de rendez-vous
			</MudText>
		</MudButton>
		<br />
		<MudButton Class="white-text" Variant="Variant.Text" Href="" Style="padding:0px 8px">
			<MudText>
				paie-formation@abmq.fr
			</MudText>
		</MudButton>
		<br />
		<MudText Class="white-text" Style="margin:0px 0px 0px 8px;">
			+33 7 48 10 65 39
		</MudText>
		<MudButton Class="white-text" Variant="Variant.Text" EndIcon="@Icons.Material.TwoTone.ArrowDropDownCircle" Style="padding:0px 8px;text-transform:none;">
			<MudText>
				Page officielle
			</MudText>
		</MudButton>
	</div>
</div>
