@using ABM.Paie.Components
@using ABM.Paie.Enumerations
@using ABM.Paie.Extensions
@using ABM.Paie.Helpers
@using ABM.Paie.Models
@using ABM.Paie.Pages
@using ABM.Paie.Resources

@{
	var accueilActivator = new MenuButton("Accueil", "/");

	var formationActivator = new MenuButton("Formations");
	var formationItems = new MenuButton[]
	{
		new("Catalogue en ligne", "https://abmformation.catalogueformpro.com", true),
		new("Perfectionnement", UriHelper.Get(Section.Perfectionnement)),
	};

	var actualiteActivator = new MenuButton("Actualités", UriHelper.Get(Constants.Actualite));

	var abmPaieActivator = new MenuButton("ABM Paie".ToBold());
	var abmPaieItems = new MenuButton[]
	{
		new("Organigramme", UriHelper.Get(Section.Organigramme)),
		new("Équipe pédagogique", UriHelper.Get(Section.Equipe)),
		new("Référente Assistance technique et pédagogique", UriHelper.Get(Section.Assistance)),
		new("Référente handicap", UriHelper.Get(Section.Handicap)),
		new("Les indicateurs formation", UriHelper.Get(Section.Indicateurs)),
		new("Mes valeurs", UriHelper.Get(Section.Valeurs)),
	};

	var experienceActivator = new MenuButton("Expérience");
	var experienceItems = new MenuButton[]
	{
		new("Curriculum vitae", "/resources/ABMq_CV.pdf", true),
		new("Salariée Silae", UriHelper.Get(Section.Silae)),
		new("Formatrice Silae en chiffres", UriHelper.Get(Section.Chiffres)),
		new("Étudiante CAFEL", UriHelper.Get(Section.Cafel)),
	};

	var contactActivator = new MenuButton("Contact");
	var contactItems = new MenuButton[]
	{
		new("Prise de rendez-vous", UriHelper.Get(Section.Rdv)),
		new("Coordonnées (contact)", UriHelper.Get(Section.Coordonnees)),
		new("Mes pages officielles", UriHelper.Get(Section.Pages)),
	};

	var partenariatActivator = new MenuButton("Partenariats");
	var partenariatItems = new MenuButton[] { new("Facilae Paie", "https://www.facilaepaie.com", true) };
}

<div id="header">
	<HeaderMenu Activator="accueilActivator" />
	<HeaderMenu Activator="formationActivator" Items="formationItems" />
	<HeaderMenu Activator="actualiteActivator" />
	<HeaderMenu Activator="abmPaieActivator"  Items="abmPaieItems" />
	<HeaderMenu Activator="experienceActivator" Items="experienceItems" />
	<HeaderMenu Activator="contactActivator" Items="contactItems" Variant="Variant.Filled" />
	<HeaderMenu Activator="partenariatActivator" Items="partenariatItems" />
</div>
