@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

<MudContainer>
	<div class="center" style="text-align:center">
		<MainHeader />
	</div>
	<div style="text-align:center">
		@Body
	</div>
	<div class="center indigo lighten-2 white-text">
		<MainFooter />
	</div>
</MudContainer>
<MudScrollToTop>
	<MudFab Class="deep-purple lighten-3" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>
