@using ABM.Paie.Components
@using ABM.Paie.Enumerations
@using ABM.Paie.Helpers
@using ABM.Paie.Models
@using ABM.Paie.Pages
@using ABM.Paie.Resources

@{
    var accueilPage = new Link("/", "Accueil");

    var formationPage = new Link(UriHelper.Get(Constants.Formation), "Formations");
    var catalogueSection = new Link("https://abmformation.catalogueformpro.com", "Catalogue en ligne", true);
    var perfectionnementSection = new Link(UriHelper.Get(Section.Perfectionnement), "Perfectionnement");

    var actualitePage = new Link(UriHelper.Get(Constants.Actualite), "Actualités");

    var abmPaiePage = new Link(UriHelper.Get(Constants.AbmPaie), "ABM Paie", css: "bold");
    var organigrammeSection = new Link(UriHelper.Get(Section.Organigramme), "Organigramme");
    var equipeSection = new Link(UriHelper.Get(Section.Equipe), "Équipe pédagogique");
    var assistanceSection = new Link(
        UriHelper.Get(Section.Assistance),
        "Référente Assistance technique et pédagogique",
        css: "danger bold");
    var handicapSection = new Link(
        UriHelper.Get(Section.Handicap),
        "Référente handicap",
        css: "danger bold");
    var indicateursSection = new Link(UriHelper.Get(Section.Indicateurs), "Les indicateurs formation");
    var valeursSection = new Link(UriHelper.Get(Section.Valeurs), "Mes valeurs");

    var experiencePage = new Link(UriHelper.Get(Constants.Experience), "Expérience");
    var cvSection = new Link("/resources/ABMq_CV.pdf", "Curriculum vitae", true);
    var silaeSection = new Link(UriHelper.Get(Section.Silae), "Salariée Silae");
    var chiffresSection = new Link(UriHelper.Get(Section.Chiffres), "Formatrice Silae en chiffres");
    var cafelSection = new Link(UriHelper.Get(Section.Cafel), "Étudiante CAFEL");

    var partenariatActivator = new Link(text: "Partenariats");
    var partenariatItems = new Link[] { new("https://www.facilaepaie.com", "Facilae Paie", true) };

    var contactPage = new Link(UriHelper.Get(Constants.Contact), "Contact");
    var rdvSection = new Link(
        UriHelper.Get(Section.Rdv),
        "Prise de rendez-vous",
        css: "danger");
    var mailSection = new Link("mailto:paie-formation@abmq.fr", "paie-formation@abmq.fr");
    var pagesSection = new Link(UriHelper.Get(Section.Pages), "Mes pages officielles");
}

<div class="d-flex flex-wrap justify-center" id="footer">
    <div>
        <PageButton Link="accueilPage" />

        <br />

        <PageButton Link="formationPage" />
        <br />
        <SectionButton Link="catalogueSection" />
        <br />
        <SectionButton Link="perfectionnementSection" />
    </div>
    <div>
        <PageButton Link="actualitePage" />

        <br />

        <PageButton Link="abmPaiePage" />
        <br />
        <SectionButton Link="organigrammeSection" />
        <br />
        <SectionButton Link="equipeSection" />
        <br />
        <SectionButton Link="indicateursSection" />
        <br />
        <SectionButton Link="valeursSection" />
        <br />
        <SectionButton Link="assistanceSection" Variant="Variant.Filled" />
        <br />
        <SectionButton Link="handicapSection" Variant="Variant.Filled" />
    </div>
    <div>
        <PageButton Link="experiencePage" />
        <br />
        <SectionButton Link="silaeSection" />
        <br />
        <SectionButton Link="chiffresSection" />
        <br />
        <SectionButton Link="cafelSection" />

        <br />

        <LayoutMenu Activator="partenariatActivator" Items="partenariatItems" 
                    AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.BottomLeft" />
    </div>
    <div>
        <PageButton Link="contactPage" />
        <br />
        <SectionButton Link="rdvSection" 
                       Variant="Variant.Filled" StartIcon="@Icons.Material.TwoTone.CalendarMonth" />
        <br />
        <MailButton Link="mailSection" />
        <br />
        <div class="d-flex align-center">
            <MudIcon Icon="@Icons.Material.TwoTone.Phone" Title="Phone" Size="Size.Small" Style="margin:0px 0px 0px 5px;" />
            <MudIcon Icon="@Icons.Material.TwoTone.Textsms" Title="Textsms" Size="Size.Small" Style="margin:0px 0px 0px 5px;" />
            <img src="/images/whatsapp/Digital_Glyph_White.png" alt="WhatsApp" height="18" style="margin:0px 0px 0px 7px;" />
            <Paragraph>
                +33 7 48 10 65 39
            </Paragraph>
        </div>
        <div class="d-flex align-center">
            <a href="https://www.linkedin.com/in/abm-paie-1b551a336" target="@Constants.Blank"><img src="/images/linkedin/LI-Logo.png" alt="LinkedIn" height="20" /></a>
        </div>
    </div>
</div>
