@using ABM.Paie.Components
@using ABM.Paie.Enumerations
@using ABM.Paie.Extensions
@using ABM.Paie.Helpers
@using ABM.Paie.Models
@using ABM.Paie.Pages
@using ABM.Paie.Resources

@{
	var accueilActivator = new Link("/", "Accueil");

	var formationActivator = new Link(text: "Formations");
	var formationItems = new Link[]
	{
		new("https://abmformation.catalogueformpro.com", "Catalogue en ligne", true),
		new(UriHelper.Get(Section.Perfectionnement), "Perfectionnement"),
	};

	var actualiteActivator = new Link(UriHelper.Get(Constants.Actualite), "Actualités");

	var abmPaieActivator = new Link(text: "ABM Paie", css: "bold");
	var abmPaieItems = new Link[]
	{
		new(UriHelper.Get(Section.Organigramme), "Organigramme"),
		new(UriHelper.Get(Section.Equipe), "Équipe pédagogique"),
		new(UriHelper.Get(Section.Assistance), "Référente Assistance technique et pédagogique"),
		new(UriHelper.Get(Section.Handicap), "Référente handicap"),
		new(UriHelper.Get(Section.Indicateurs), "Les indicateurs formation"),
		new(UriHelper.Get(Section.Valeurs), "Mes valeurs"),
	};

	var experienceActivator = new Link(text: "Expérience");
	var experienceItems = new Link[]
	{
		new("/resources/ABMq_CV.pdf", "Curriculum vitae", true),
		new(UriHelper.Get(Section.Silae), "Salariée Silae"),
		new(UriHelper.Get(Section.Chiffres), "Formatrice Silae en chiffres"),
		new(UriHelper.Get(Section.Cafel), "Étudiante CAFEL"),
	};

	var contactActivator = new Link(text: "Contact");
	var contactItems = new Link[]
	{
		new(UriHelper.Get(Section.Rdv), "Prise de rendez-vous"),
		new(UriHelper.Get(Section.Coordonnees), "Coordonnées (contact)"),
		new(UriHelper.Get(Section.Pages), "Mes pages officielles"),
	};

	var partenariatActivator = new Link(text: "Partenariats");
	var partenariatItems = new Link[] { new("https://www.facilaepaie.com", "Facilae Paie", true) };
}

<div id="header">
	<LayoutMenu Activator="accueilActivator" />
	<LayoutMenu Activator="formationActivator" Items="formationItems" />
	<LayoutMenu Activator="actualiteActivator" />
	<LayoutMenu Activator="abmPaieActivator" Items="abmPaieItems" />
	<LayoutMenu Activator="experienceActivator" Items="experienceItems" />
	<LayoutMenu Activator="contactActivator" Items="contactItems" Variant="Variant.Filled" />
	<LayoutMenu Activator="partenariatActivator" Items="partenariatItems" />
</div>
