@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

<MudContainer>
	<div class="center" style="text-align:center;margin-top:20px;">
		<MainHeader />
	</div>

	@Body
	
	<MudPaper class="center indigo lighten-2 white-text" Style="margin-bottom:20px;">
		<MainFooter />
	</MudPaper>

	<MudScrollToTop>
		<MudFab Class="indigo lighten-2 white-text" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
	</MudScrollToTop>
</MudContainer>
