@using ABM.Paie.Components
@using ABM.Paie.Extensions
@using MudBlazor
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@{
    var isHome = string.IsNullOrEmpty(NavigationManager.ToBaseRelativePath(NavigationManager.Uri));
}

<MudContainer>
	<div class="center" style="text-align:center;margin-top:20px;">
		<a href="/"><img src="/images/logos/abm-paie.png" alt="logo ABM Paie" width="100" /></a>
		<MainHeader />
	</div>

	@Body
	
	<MudPaper class="center indigo lighten-2 white-text" Style="margin-bottom:10px;">
		<MainFooter />
	</MudPaper>

	<MudText Class="indigo-text" Style="text-align:right;margin:0 0 10px 0;">version : 202505.0</MudText>

	<MudScrollToTop>
		<MudFab Class="indigo lighten-2 white-text" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
	</MudScrollToTop>
</MudContainer>
