.common__piechart__content {
  position: relative;
}

*:focus {
  outline: none;
} /*TODO*/

.common__piechart .common__tooltip__text {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--gray-dark);
  border: 0.125rem solid var(--white);
  color: var(--white);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transition: 250ms opacity 1000ms ease-out;
}

.common__piechart .common__tooltip__text[opaque] {
  opacity: 0;
  visibility: hidden;
}


