.common__slice {
  --slice--color: attr(data-color type(<color>));
  fill: var(--slice--color);
  stroke: var(--white);
  stroke-linecap: round;
  stroke-width: 2%;
  cursor: help;
  outline: none;
}

.common__slice:hover, .common__slice:focus:not([clicked]) {
  fill: color(from var(--slice--color) display-p3 calc(r - 0.15) calc(g - 0.15) calc(b - 0.15));
}
