@using Common.Models
@inherits BaseComponent

<div class=@_builder>
    <span>@Model?.Text</span> <span>@Model?.Author</span>
</div>

@code {
    [Parameter]
    public QuoteModel? Model { get; set; }

    protected override void OnInitialized()
    {
        _ = _builder.Append("common__quotetemplate");
        base.OnInitialized();
    }
}
