.common__quote {
    align-content: center;
    text-align: center;
    line-height: 1;
    width: stretch;
    padding: 0 0.5em;
}

span:first-child {
    font-style: italic;
}
span:nth-child(2) {
    color: var(--primary-dark);
    font-family: 'Kaushan Script Regular';
    font-weight: bold;
    white-space: nowrap;
}
