@using Common.Models
@inherits BaseComponent

@{
    _ = _builder.Append("common__quote"); 
}

<div class=@_builder>
    <span>@Model?.Text</span> <span>@Model?.Author</span>
</div>

@code {
    [Parameter]
    public QuoteModel? Model { get; set; }
}
