@using Common.Models
@inherits BaseComponent

<div class=@_builder>
    <span>@Data?.Text</span> <span>@Data?.Author</span>
</div>

@code {
    [Parameter]
    public QuoteModel? Data { get; set; }

    protected override void OnInitialized()
    {
        _ = _builder.Append("common__quotetemplate");
        base.OnInitialized();
    }
}
