.common__value {
  display: flex;
  justify-content: space-between;
  background: var(--primary);
}

.common__value > div:has(.common__paragraph)
{
  background: var(--white);
  padding: 0.5rem 2rem;
}

.common__value.thin > div:has(.common__paragraph) {
  padding: 0 1rem;
}
