@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Enumerations
@using Common.Extensions
@using Common.Models
@using Common.Tools
@inherits LayoutComponentBase
@inject IConfiguration Configuration
@inject IUriProvider UriProvider
@inject NavigationManager NavigationManager

@{
    var accueil = UriProvider.Get(AbmUri.Accueil);
    var linkedin = new OperationModel(UriProvider.Get(AbmUri.LinkedIn), new(Class: "white filled"));

    var formations = GetMenu([AbmUri.Formations, AbmUri.Catalogue, AbmUri.Perfectionnement]);
    var actualites = GetMenu([AbmUri.Actualites]);
    var headerAbmPaie = GetMenu(
        [
            AbmUri.Abmpaie,
            AbmUri.Organigramme,
            AbmUri.Qualiopi,
            AbmUri.Indicateurs,
            AbmUri.Valeurs,
        ]);
    var experience = GetMenu(
        [
            AbmUri.Experience,
            AbmUri.Cv,
            AbmUri.Silae,
            AbmUri.Chiffres,
            AbmUri.RefAssistance,
            AbmUri.RefHandicap,
        ]);
    var headerContact = GetMenu(
        [
            AbmUri.Contact,
            AbmUri.Reserver,
            AbmUri.Coordonnees,
            AbmUri.PagesOfficielles,
        ],
        "filled");
    var partenariats = GetMenu([AbmUri.Partenariats])
        .Append(UriProvider.Get(AbmUri.Facilae).ToBase())
        .Append(UriProvider.Get(AbmUri.Prismatik).ToBase())
        .ToArray();

    var headerMenus = new OperationModel[][] { formations, actualites, headerAbmPaie, experience, headerContact, partenariats };

    var footerAbmPaie = new OperationModel[]
    {
            UriProvider.Get(AbmUri.Abmpaie),
            UriProvider.Get(AbmUri.Organigramme),
            UriProvider.Get(AbmUri.Indicateurs),
            UriProvider.Get(AbmUri.Valeurs),
            new(UriProvider.Get(AbmUri.Qualiopi), new(Class: "danger filled")),
    };
    var footerExperience = new OperationModel[]
    {
            UriProvider.Get(AbmUri.Experience),
            UriProvider.Get(AbmUri.Cv),
            UriProvider.Get(AbmUri.Silae),
            UriProvider.Get(AbmUri.Chiffres),
            new(UriProvider.Get(AbmUri.RefAssistance), new(Class: "danger filled")),
            new(UriProvider.Get(AbmUri.RefHandicap), new(Class: "danger filled")),
    };
    var footerContact = new OperationModel[]
    {
        UriProvider.Get(AbmUri.Contact),
        new(UriProvider.Get(AbmUri.RendezVous), new(IconPath.CalendarMonth, Class: "danger filled")),
        UriProvider.Get(AbmMail.PaieFormation),
    };
}

@if (_showBanner)
{
    <Image Class="banner" Model=UriProvider.Get(AbmImage.Banner) />
}

<NavBar Models=headerMenus>
    <Operation Model=accueil />
</NavBar>

@Body

<div id="footer" class="wrap justify-center">
    <div class="wrap">
        <div>
            <DropDownMenu Model=@(SetAsFooter([accueil.ToBase()])) />
            <DropDownMenu Model=SetAsFooter(formations) />
            <DropDownMenu Model=SetAsFooter(actualites) />
        </div>
        <div>
            <DropDownMenu Model=SetAsFooter(footerAbmPaie) />
        </div>
    </div>
    <div>
        <div>
            <DropDownMenu Model=SetAsFooter(footerExperience) />
        </div>
        <div>
            <DropDownMenu Model=SetAsFooter(footerContact)>
                <Paragraph> @* aria-label="contacter ABM Paie par téléphone (appel, sms, WhatsApp)"> *@
                    <Icon Content=IconPath.Call />
                    <Icon Content=IconPath.Sms />
                    <Image Class="inline mx-1" Model=UriProvider.Get(AbmImage.WhatsAppGlyph) />
                    +33 7 48 10 65 39
                </Paragraph>
                <span Class="linkedin">
                    <Operation Model=linkedin />
                </span>
            </DropDownMenu>
        </div>
    </div>
</div>

<div id="version" class="primary float-right mx-3 my-2">
    <Paragraph>version : @Configuration["version"]</Paragraph>
</div>

@code {
    private string? _accueilUri;
    private bool _showBanner;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;

        _accueilUri = NavigationManager.ToAbsoluteUri(UriProvider.Get(AbmUri.Accueil).Location).AbsoluteUri;
        _showBanner = NavigationManager.Uri == _accueilUri;
        
        base.OnInitialized();
    }

    private void LocationChanged(object? _, LocationChangedEventArgs e)
    {
        var currentValue = _showBanner;
        var newValue = e.Location == _accueilUri;

        if (currentValue != newValue)
        {
            _showBanner = !_showBanner;
            StateHasChanged();
        }
    }

    private OperationModel[] GetMenu(IEnumerable<AbmUri> uris, string titleClass = "")
    {
        List<OperationModel> menus = [];

        if (uris.Any()) menus.Add(new(UriProvider.Get(uris.First()), new(Class: new ClassBuilder(titleClass).Add("large"))));

        foreach (var uri in uris.Skip(1)) menus.Add(UriProvider.Get(uri));

        return menus.ToArray();
    }

    private OperationModel[] SetAsFooter(OperationModel[] menu)
    {
        var footerMenu = new List<OperationModel>();

        if (menu.Any())
        {
            var title = menu[0];
            footerMenu.Add(title with { Activator = title.Activator with { Class = "h2" } });
            footerMenu.AddRange(menu[1..]);
        }

        return footerMenu.ToArray();
    }
}
