@using ABM.Paie.Formation.Enumerations
@using ABM.Paie.Formation.Services
@using Common.Components
@using Common.Components.Templates
@using Common.Enumerations
@using Common.Extensions
@using Common.Models
@inherits LayoutComponentBase
@inject IUriProvider UriProvider
@inject NavigationManager NavigationManager

@{
    var accueil = UriProvider.Get<UriImageModel>(AbmUri.Accueil);
    var linkedin = UriProvider.Get<UriImageModel>(AbmUri.LinkedIn);

    var formations = GetMenu([ AbmUri.Formations, AbmUri.FormationsCatalogue, AbmUri.FormationsPerfectionnement ]);
    var actualites = GetMenu([ AbmUri.Actualites ]);
    var headerAbmPaie = GetMenu(
        [
            AbmUri.Abmpaie,
            AbmUri.AbmpaieOrganigramme,
            AbmUri.AbmpaieEquipe,
            AbmUri.AbmpaieRefAssistance,
            AbmUri.AbmpaieRefHandicap,
            AbmUri.AbmpaieIndicateurs,
            AbmUri.AbmpaieValeurs,
        ]);
    var experience = GetMenu(
        [
            AbmUri.Experience,
            AbmUri.ExperienceCv,
            AbmUri.ExperienceSilae,
            AbmUri.ExperienceChiffres,
            AbmUri.ExperienceCafel,
        ]);
    var headerContact = GetMenu(
        [
            AbmUri.Contact,
            AbmUri.ContactReserver,
            AbmUri.ContactCoordonnees,
            AbmUri.ContactPagesOfficielles,
        ],
        "filled");
    var partenariats = GetMenu([ AbmUri.Partenariats, AbmUri.PartenariatsFacilae, ]);

    var headerMenus = new NavModel[][] { formations, actualites, headerAbmPaie, experience, headerContact, partenariats };

    var footerAbmPaie = new NavModel[]
    {
            UriProvider.Get(AbmUri.Abmpaie),
            UriProvider.Get(AbmUri.AbmpaieOrganigramme),
            UriProvider.Get(AbmUri.AbmpaieEquipe),
            UriProvider.Get(AbmUri.AbmpaieIndicateurs),
            UriProvider.Get(AbmUri.AbmpaieValeurs),
            new(UriProvider.Get(AbmUri.AbmpaieRefAssistance), new(Class: "danger filled")),
            new(UriProvider.Get(AbmUri.AbmpaieRefHandicap), new(Class: "danger filled")),
    };
    var footerContact = new NavModel[]
    {
        UriProvider.Get(AbmUri.Contact),
        new(UriProvider.Get(AbmUri.RendezVous), new(IconPath.CalendarMonth, Class: "danger filled")),
        new(UriProvider.Get(AbmMailUri.PaieFormation), new(IconPath.Mail)),
    };
}

@if (_showBanner) { <ImageTemplate Class="banner" Model=UriProvider.Get(AbmImageUri.Banner) /> }

<NavBar Menus=headerMenus>
    <NavAction Label=@accueil.Label Location=@accueil.Location IsExternal=accueil.IsExternal>
        <ImageTemplate Model=@accueil.Image />
    </NavAction>
</NavBar>

<div id="body">
    @Body
</div>

<div id="footer">
    <div>
        <div>
            <DropDownMenu Menu=SetAsFooter([accueil]) />
            <DropDownMenu Menu=SetAsFooter(formations) />
            <DropDownMenu Menu=SetAsFooter(actualites) />
        </div>
        <div>
            <DropDownMenu Menu=SetAsFooter(footerAbmPaie) />
        </div>
    </div>
    <div>
        <div>
            <DropDownMenu Menu=SetAsFooter(experience) />
            <DropDownMenu Menu=SetAsFooter(partenariats) />
        </div>
        <div>
            <DropDownMenu Menu=SetAsFooter(footerContact)>
                <Paragraph> @* aria-label="contacter ABM Paie par téléphone (appel, sms, WhatsApp)"> *@
                    <Icon Content=IconPath.Call />
                    <Icon Content=IconPath.Sms />
                    <ImageTemplate Class="inline" Model=UriProvider.Get(AbmImageUri.WhatsAppGlyph) />
                    +33 7 48 10 65 39
                </Paragraph>
                <Paragraph Class="primary">
                    <NavAction Label=@linkedin.Label Location=@linkedin.Location IsExternal=linkedin.IsExternal Activator=@new(Class: "white filled")>
                        <ImageTemplate Class="inline" Model=@linkedin.Image />
                    </NavAction>
                </Paragraph>
            </DropDownMenu>
        </div>
    </div>
</div>

@code {
    private string? _accueilUri;
    private bool _showBanner;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();

        _accueilUri = NavigationManager.ToAbsoluteUri(UriProvider.Get(AbmUri.Accueil).Location).AbsoluteUri;
        _showBanner = NavigationManager.Uri == _accueilUri;
    }

    private void LocationChanged(object? _, LocationChangedEventArgs e)
    {
        var currentValue = _showBanner;
        var newValue = e.Location == _accueilUri;

        if (currentValue != newValue)
        {
            _showBanner = !_showBanner;
            StateHasChanged();
        }
    }

    private NavModel[] GetMenu(IEnumerable<AbmUri> uris, string? titleClass = null)
    {
        List<NavModel> menus = [];

        if (uris.Any()) menus.Add(new(UriProvider.Get(uris.First()), new(Class: titleClass)));

        foreach (var uri in uris.Skip(1)) menus.Add(UriProvider.Get(uri));

        return menus.ToArray();
    }

    private NavModel[] SetAsFooter(NavModel[] menu)
    {
        var footerMenu = new List<NavModel>();

        if (menu.Any())
        {
            var title = menu[0];
            footerMenu.Add(title with { Activator = title.Activator with { Class = "h2" } });
            footerMenu.AddRange(menu[1..]);
        }

        return footerMenu.ToArray();
    }
}
