@using Common.Components
@using Common.Enumerations
@using Common.Extensions
@using Common.Models
@inherits LayoutComponentBase

@{
    List<List<LinkData>> menus = [
        [
            new("#", "Formations", EndIcon: IconPath.ArrowDropDown),
            new("#", "Catalogue en ligne"),
            new("#", "Perfectionnement"),
            new("#", "Organigramme"),
        ],
        [ new("#", "Actualités"), ],
        [
            new("#", "ABM Paie", EndIcon: IconPath.ArrowDropDown),
            new("#", "Équipe pédagogique"),
            new("#", "Référente Assistance technique et pédagogique"),
            new("#", "Référente handicap"),
            new("#", "Les indicateurs formation"),
            new("#", "Mes valeurs"),
        ],
        [
            new("#", "Expérience", EndIcon: IconPath.ArrowDropDown),
            new("#", "Curriculum vitae", IsExternal: true),
            new("#", "Salariée Silae"),
            new("#", "Formatrice Silae en chiffres"),
            new("#", "Étudiante CAFEL"),
        ],
        [
            new("#", "Contact", EndIcon: IconPath.ArrowDropDown, Class: "filled"),
            new("#", "Prise de rendez-vous", IsExternal: true),
            new("#", "Coordonnées"),
            new("#", "Mes pages officielles"),
        ],
        [
            new("#", "Partenariats", EndIcon: IconPath.ArrowDropDown),
            new("#", "Facilae Paie", IsExternal: true),
        ],
    ];
}

<Image Class="banner" Source="/logos/abm-paie/abm-paie_banner_v3.svg" Label="ABM Paie - Formations sur My Silae" />

<NavBar Menus=menus>
    <a href="/"><Image Source="/logos/abm-paie/abm-paie_thin.svg" Label="Accueil" /></a>
</NavBar>

@Body
